@import 'https://fonts.googleapis.com/css?family=Work+Sans';
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: black; }

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background: black; }
  .App .Left, .App .Right, .App .Foot {
    border: 2px solid lightgreen;
    background: black;
    position: fixed;
    color: white;
    transition: 0.5s all;
    z-index: 10000000000;
    border-radius: 4px; }
  .App .Left {
    left: 0px;
    height: calc(100% - 60px);
    width: 180px;
    top: 56px; }
    .App .Left h3 {
      transform: rotate(270deg);
      position: absolute;
      left: -135px;
      top: 80px;
      pointer-events: none;
      width: 300px;
      transition: 0.3s all; }
    .App .Left .dataCont h2 {
      width: 300px;
      margin: 10px auto;
      height: 20px;
      pointer-events: none; }
    .App .Left .dataCont .DatasetList .dataset {
      width: 95%;
      height: 100px;
      font-size: 16px;
      margin: 3px auto;
      border: 1px solid #212121;
      border-radius: 4px;
      display: flex;
      flex-wrap: wrap;
      padding: 4px;
      transition: 0.3s all; }
      .App .Left .dataCont .DatasetList .dataset h5, .App .Left .dataCont .DatasetList .dataset p {
        margin: 2px auto;
        width: 100%;
        text-align: right;
        pointer-events: none;
        height: 18px; }
      .App .Left .dataCont .DatasetList .dataset h5 {
        border-bottom: 1px solid white;
        pointer-events: none; }
      .App .Left .dataCont .DatasetList .dataset .dlBtn {
        border: 1px solid white;
        height: 25px;
        width: 25px;
        transition: 0.3s all;
        margin: 5px;
        border-radius: 4px;
        position: absolute;
        display: flex;
        pointer-events: all;
        background: black; }
        .App .Left .dataCont .DatasetList .dataset .dlBtn i, .App .Left .dataCont .DatasetList .dataset .dlBtn .fas, .App .Left .dataCont .DatasetList .dataset .dlBtn .fa-download {
          pointer-events: none;
          margin: auto; }
      .App .Left .dataCont .DatasetList .dataset .dlBtn:hover {
        background: white;
        color: green;
        transition: 0.3s all; }
      .App .Left .dataCont .DatasetList .dataset .rBtn {
        border: 1px solid white;
        height: 25px;
        width: 25px;
        transition: 0.3s all;
        margin: 5px 5px 5px 35px;
        border-radius: 4px;
        position: absolute;
        display: flex;
        pointer-events: all;
        background: black; }
        .App .Left .dataCont .DatasetList .dataset .rBtn a {
          margin: auto; }
          .App .Left .dataCont .DatasetList .dataset .rBtn a i, .App .Left .dataCont .DatasetList .dataset .rBtn a .fab, .App .Left .dataCont .DatasetList .dataset .rBtn a .fa-reddit-alien {
            pointer-events: none;
            margin: auto;
            color: orange; }
      .App .Left .dataCont .DatasetList .dataset .rBtn:hover {
        transition: 0.3s all;
        background: orange; }
        .App .Left .dataCont .DatasetList .dataset .rBtn:hover a i, .App .Left .dataCont .DatasetList .dataset .rBtn:hover a .fab, .App .Left .dataCont .DatasetList .dataset .rBtn:hover a .fa-reddit-alien {
          pointer-events: none;
          margin: auto;
          color: white; }
    .App .Left .dataCont .DatasetList .dataset:hover {
      box-shadow: 0 0 5px 2px white;
      transition: 0.3s all; }
  .App .Right {
    width: 30px;
    height: calc(100% - 45px);
    right: 0px;
    text-align: left;
    overflow: scroll; }
    .App .Right h2, .App .Right ol, .App .Right li, .App .Right .hintBox {
      pointer-events: none;
      transition: 0.5s all;
      min-width: 350px; }
    .App .Right h2 {
      border-bottom: 1px solid #212121;
      padding-left: 15px; }
    .App .Right h5 {
      transform: rotate(90deg); }
  .App .Foot {
    bottom: 0px;
    left: 37px;
    width: calc(100% - 42px);
    height: 35px;
    display: flex; }
    .App .Foot p {
      width: 60%;
      margin: auto;
      padding-left: 15px;
      text-align: left; }
    .App .Foot #donate {
      width: 40%;
      margin: auto;
      display: flex; }
      .App .Foot #donate .hoverDiv {
        width: 30%;
        height: 25px;
        border: 1px solid #212121;
        border-radius: 4px;
        transition: 0.3s all;
        display: flex;
        margin: auto; }
        .App .Foot #donate .hoverDiv a, .App .Foot #donate .hoverDiv p {
          color: white;
          margin: auto; }
      .App .Foot #donate .hoverDiv:hover {
        box-shadow: 0 0 5px 3px white;
        transition: 0.3s all; }
  .App #settings {
    border: 2px solid lightgreen;
    width: calc(100% - 41px);
    height: 50px;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
    z-index: 10000000;
    border-radius: 4px; }
    .App #settings .setting {
      border: 1px solid #212121;
      height: 45px;
      width: 300px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      color: white;
      background: black;
      border-radius: 4px;
      /* Rounded sliders */ }
      .App #settings .setting h6 {
        margin: 3px auto;
        height: 15px;
        width: 70%; }
      .App #settings .setting #reset {
        border: 2px solid red;
        margin: auto;
        height: 10px;
        width: 30px;
        font-size: 9px;
        color: red;
        transition: 0.3s all; }
      .App #settings .setting #reset:hover {
        border-color: white;
        transition: 0.3s all; }
      .App #settings .setting input {
        width: 99%;
        height: 20px;
        margin: 0 auto;
        background: black; }
      .App #settings .setting .degInput {
        width: 20%;
        margin: auto;
        background: black;
        border: 2px solid #212121;
        color: white;
        border-radius: 4px; }
      .App #settings .setting .Select {
        background: black;
        border: 1px solid white;
        height: 20px;
        margin: 0 auto;
        border-radius: 4px;
        line-height: 20px !important; }
        .App #settings .setting .Select .Select-control {
          height: 20px;
          font-size: 12px;
          background: black;
          color: white;
          border-radius: 4px;
          padding: 2px;
          line-height: 20px !important;
          width: 140px !important; }
          .App #settings .setting .Select .Select-control .Select-value {
            height: 20px;
            line-height: 20px !important; }
        .App #settings .setting .Select input {
          width: 140px; }
      .App #settings .setting .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin: auto auto 3px auto; }
      .App #settings .setting .switch input {
        display: none; }
      .App #settings .setting .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s; }
      .App #settings .setting .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s; }
      .App #settings .setting input:checked + .slider {
        background-color: #2196F3; }
      .App #settings .setting input:focus + .slider {
        box-shadow: 0 0 1px #2196F3; }
      .App #settings .setting input:checked + .slider:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
        transform: translateX(19px); }
      .App #settings .setting .slider.round {
        border-radius: 20px; }
      .App #settings .setting .slider.round:before {
        border-radius: 50%; }
  .App #puzzleCont {
    margin: 0 auto;
    top: 0px;
    left: 200px;
    position: fixed;
    display: flex;
    transition: 0.5s all; }
    .App #puzzleCont #words {
      width: 1080px;
      height: 720px;
      margin: -958px 0 0 0;
      z-index: 10;
      border: 1px solid green;
      padding: 0; }
      .App #puzzleCont #words .word {
        color: red; }
    .App #puzzleCont #grid {
      width: 1080px;
      height: 720px;
      z-index: 100;
      margin: 60px 0 0 -1080px;
      background: url("https://cms-k12oer-staging.s3.amazonaws.com/uploads/pictures/8/8.1.A2.Image.01.png");
      transition: 0.3s all; }
    .App #puzzleCont #btc {
      width: 660px;
      height: 660px;
      opacity: 0.8;
      position: absolute;
      top: 92px;
      border-radius: 50%;
      z-index: 2;
      overflow: hidden;
      margin-left: 212px;
      background: white;
      transition: 0.3s all; }
      .App #puzzleCont #btc img {
        padding-top: 1px;
        transition: 0.3s all; }
    .App #puzzleCont #crossHair {
      height: 5px;
      width: 5px;
      border-radius: 50%;
      margin: auto;
      z-index: 11;
      position: absolute;
      top: 418px;
      left: calc(50% - 2.5px);
      transition: 0.3s all; }
    .App #puzzleCont #crossHair #up {
      height: 720px;
      margin-top: -360px;
      width: 0px;
      border-left: 1px solid red;
      transition: 0.3s all; }
    .App #puzzleCont #crossHair #ac {
      height: 0px;
      width: 1080px;
      border-bottom: 1px solid red;
      margin-top: -360px;
      margin-left: -540px;
      transition: 0.3s all; }
    .App #puzzleCont #btcOrange {
      width: 660px;
      height: 660px;
      opacity: 0.2;
      position: absolute;
      top: 93px;
      border-radius: 50%;
      z-index: 3;
      overflow: hidden;
      margin-left: 212px;
      transition: 0.3s all; }
    .App #puzzleCont #btcOrange img {
      width: 100%;
      height: 100%; }
    .App #puzzleCont #fib {
      width: 1080px;
      height: 720px;
      border: 3px dashed red;
      position: absolute;
      top: 60px;
      z-index: 12;
      transition: 0.3s all; }
      .App #puzzleCont #fib img {
        width: 100%;
        height: 100%; }
      .App #puzzleCont #fib svg {
        width: 100%;
        height: 100%; }
    .App #puzzleCont #overlay {
      height: 720px;
      width: 1080px;
      border-radius: 4px;
      margin: 0 auto;
      position: absolute;
      left: 2px;
      top: 61px;
      z-index: 1000000; }
    .App #puzzleCont #circleBorder {
      height: 655px;
      width: 655px;
      border: 3px dashed orange;
      margin: 0 auto;
      position: absolute;
      top: 93px;
      border-radius: 50%;
      z-index: 15;
      margin-left: 212px; }
    .App #puzzleCont #puzzle {
      height: 720px;
      width: 1080px;
      background-size: contain;
      border: 2px solid black;
      border-radius: 4px;
      margin: 0 auto;
      /* display: flex; */
      position: absolute;
      top: 60px;
      z-index: 1;
      transition: 0.3s all; }
    .App #puzzleCont .underlay1 {
      background: url("https://i.imgur.com/N84KCQg.png"); }
    .App #puzzleCont .underlay2 {
      background: url("https://i.imgur.com/4zHZ7en.jpg"); }
    .App #puzzleCont .underlay3 {
      background: url("https://i.imgur.com/7QZDtId.jpg"); }
    .App #puzzleCont .underlay4 {
      background: url("https://i.imgur.com/iYR8hBj.jpg"); }
    .App #puzzleCont .underlay5 {
      background: url("https://i.imgur.com/U50NzaQ.jpg"); }
    .App #puzzleCont .underlay6 {
      background: url("https://image.ibb.co/b8wS6T/highlighted.png"); }
    .App #puzzleCont .underlay7 {
      background: url("https://i.imgur.com/QnxYVHy.png"); }
    .App #puzzleCont .overlay1-0deg {
      background: url("https://i.imgur.com/OX8AshY.png"); }
    .App #puzzleCont .overlay1-30deg {
      background: url("https://i.imgur.com/Vb2KfFU.png"); }
    .App #puzzleCont .overlay1-60deg {
      background: url("https://i.imgur.com/KAZF8qH.png"); }
    .App #puzzleCont .overlay1-n30deg {
      background: url("https://i.imgur.com/bhWzQkD.png"); }
    .App #puzzleCont .overlay1-n60deg {
      background: url("https://i.imgur.com/yAFhETF.png"); }
    .App #puzzleCont .overlay1-all {
      background: url("https://i.imgur.com/yAFhETF.png"), url("https://i.imgur.com/bhWzQkD.png"), url("https://i.imgur.com/KAZF8qH.png"), url("https://i.imgur.com/Vb2KfFU.png"), url("https://i.imgur.com/OX8AshY.png"); }
    .App #puzzleCont .overlay2 {
      background: url("https://i.imgur.com/x7awlTU.png");
      background-size: contain; }
    .App #puzzleCont .overlay3 {
      background: url("https://i.imgur.com/beTNDc4.png");
      background-size: contain; }
    .App #puzzleCont .overlay4 {
      background: url("https://i.imgur.com/oy0JTbo.png");
      background-size: contain; }
    .App #puzzleCont .overlay5 {
      background: url("https://i.imgur.com/PLCKGVH.png");
      background-size: contain; }
    .App #puzzleCont .overlay6 {
      background: url("https://i.imgur.com/QZAYUn9.png");
      background-size: contain; }
    .App #puzzleCont .overlay7 {
      background: url("https://i.imgur.com/F1bS6Mv.png");
      background-size: contain; }
    .App #puzzleCont .overlay8 {
      background: url("https://i.imgur.com/68FRuLH.png");
      background-size: contain; }
    .App #puzzleCont .overlay9 {
      background: url("https://i.imgur.com/iQ71L2G.png");
      background-size: contain; }
    .App #puzzleCont .o-focus {
      background: url("https://i.imgur.com/b5eNQ6E.png");
      background-size: contain; }

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
