@import 'https://fonts.googleapis.com/css?family=Work+Sans';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  background: black;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background: black;
  .Left, .Right, .Foot {
    border: 2px solid lightgreen;
    background: black;
    position: fixed;
    color: white;
    transition: 0.5s all;
    z-index: 10000000000;
    border-radius: 4px;
  }
  .Left {
    left: 0px;
    height: calc(100% - 60px);
    width: 180px;
    top: 56px;
    h3 {
      transform: rotate(270deg);
      position: absolute;
      left: -135px;
      top: 80px;
      pointer-events:none;
      width: 300px;
      transition: 0.3s all;
    }
    .dataCont {
      h2 {
        width: 300px;
        margin: 10px auto;
        height: 20px;
        pointer-events: none;
      }
      .DatasetList {
        .dataset {
          width: 95%;
          height: 100px;
          font-size: 16px;
          margin: 3px auto;
          border: 1px solid #212121;
          border-radius: 4px;
          display: flex;
          flex-wrap: wrap;
          padding: 4px;
          transition: 0.3s all;
          h5, p {
            margin: 2px auto;
            width: 100%;
            text-align: right;
            pointer-events:none;
            height: 18px;
          }
          h5 {
            border-bottom: 1px solid white;
            pointer-events:none;
          }
          .dlBtn {
            border: 1px solid white;
            height: 25px;
            width: 25px;
            transition: 0.3s all;
            margin: 5px;
            border-radius: 4px;
            position: absolute;
            display: flex;
            pointer-events: all;
            background: black;
            i, .fas, .fa-download {
              pointer-events: none;
              margin: auto;
            }
          }
          .dlBtn:hover {
            background: white;
            color: green;
            transition: 0.3s all;
          }
          .rBtn {
            border: 1px solid white;
            height: 25px;
            width: 25px;
            transition: 0.3s all;
            margin: 5px 5px 5px 35px;
            border-radius: 4px;
            position: absolute;
            display: flex;
            pointer-events: all;
            background: black;
            a {
              margin: auto;
              i, .fab, .fa-reddit-alien {
                pointer-events: none;
                margin: auto;
                color: orange;
              }
            }
          }
          .rBtn:hover {
            transition: 0.3s all;
            background: orange;
            a {
              i, .fab, .fa-reddit-alien {
                pointer-events: none;
                margin: auto;
                color: white;
              }
            }
          }
        }
        .dataset:hover {
          box-shadow: 0 0 5px 2px white;
          transition: 0.3s all;
        }
      }
    }
  }
  .Right {
    width: 30px;
    height: calc(100% - 45px);
    right: 0px;
    text-align: left;
    h2, ol, li, .hintBox {
      pointer-events: none;
      transition: 0.5s all;
      min-width: 350px;
    }

    h2 {
      border-bottom: 1px solid #212121;
      padding-left: 15px;
    }
h5 {
  transform: rotate(90deg);
}
  }
  .Foot {
    bottom: 0px;
    left: 37px;
    width: calc(100% - 42px);
    height: 35px;
    display: flex;
    p {
      width: 60%;
      margin: auto;
      padding-left: 15px;
      text-align: left;
    }
    #donate {
      width: 40%;
      margin: auto;
      display: flex;
      .hoverDiv {
        width: 30%;
        height: 25px;
        border: 1px solid #212121;
        border-radius: 4px;
        transition: 0.3s all;
        display: flex;
        margin: auto;
        a, p {
          color: white;
          margin: auto;
        }
      }
      .hoverDiv:hover {
        box-shadow: 0 0 5px 3px white;
        transition: 0.3s all;
      }
    }
  }
  #settings {
    border: 2px solid lightgreen;
    width: calc(100% - 41px);
    height: 50px;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
    z-index: 10000000;
    border-radius: 4px;
    .setting {
      border: 1px solid #212121;
      height: 45px;
      width: 300px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      color: white;
      background: black;
      border-radius: 4px;
      h6 {
        margin: 3px auto;
        height: 15px;
        width: 70%;
      }
      #reset {
        border: 2px solid red;
        margin: auto;
        height: 10px;
        width: 30px;
        font-size: 9px;
        color: red;
        transition: 0.3s all;
      }
      #reset:hover {
        border-color: white;
        transition: 0.3s all;
      }
      input {
        width: 99%;
        height: 20px;
        margin: 0 auto;
        background: black;
      }
      .degInput {
        width: 20%;
        margin: auto;
        background: black;
        border: 2px solid #212121;
        color: white;
        border-radius: 4px;
      }
      .Dropdown-root {
        background: black;
        border: 1px solid white;
        height: 20px;
        margin: 0 auto;
        border-radius: 4px;
        .Dropdown-control {
          height: 20px;
          font-size: 16px;
          background: black;
          color: white;
          border-radius: 4px;
          padding: 2px;
          width: 140px;
          .Dropdown-placeholder {
            height: 20px;
            margin: 0;
          }
        }
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        margin: auto auto 3px auto;
      }
      .switch input {display:none;}
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      input:checked + .slider {
        background-color: #2196F3;
      }
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(19px);
        -ms-transform: translateX(19px);
        transform: translateX(19px);
      }             
      /* Rounded sliders */
      .slider.round {
        border-radius: 20px;
      }
      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
  #puzzleCont {
    margin: 0 auto;
    top: 0px;
    left: 200px;
    position: fixed;
    display: flex;
    #words {
      width: 1080px;
      height: 720px;
      margin: -958px 0 0 0;
      z-index: 10;
      border: 1px solid green;
      padding: 0;
      .word {
        color: red;
      }
    }
    #x {
      color: red;
      font-size: 100px;
      position: absolute;
      left: 100px;
      bottom: 100px;
    }
    #btc {
      width: 660px;
      height: 660px;
      opacity: 0.8;
      position: absolute;
      top: 92px;
      border-radius: 50%;
      z-index: 2;
      overflow: hidden;
      margin-left: 212px;
      background: white;
      img {
        padding-top: 1px;
      }
    }
    #crossHair {
      height: 5px;
      width: 5px;
      // border: 1px solid red;
      border-radius: 50%;
      margin: auto;
      z-index: 11;
      position: absolute;
      top: 418px;
      left: calc(50% - 2.5px);
      transition: 0.3s all;
    }
    #crossHair #up {
      height: 720px;
      margin-top: -360px;
      width: 0px;
      border-left: 1px solid red;
      transition: 0.3s all;
    }
    #crossHair #ac {
      height: 0px;
      width: 1080px;
      border-bottom: 1px solid red;
      margin-top: -360px;
      margin-left: -540px;
      transition: 0.3s all;
    }
    #btcOrange {
      width: 660px;
      height: 660px;
      opacity: 0.5;
      position: absolute;
      top: 93px;
      border-radius: 50%;
      // border: 1px solid red;
      z-index: 3;
      overflow: hidden;
      margin-left: 212px;
    }
    #btcOrange img {
      width: 100%;
      height: 100%;
    }
    #fib {
      width: 1080px;
      height: 720px;
      border: 3px dashed red;
      position: absolute;
      top: 60px;
      z-index: 12;
      transition: 0.3s all;
      img {
        width: 100%;
        height: 100%;
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
    #overlay {
      height: 720px;
      width: 1080px;
      border-radius: 4px;
      margin: 0 auto;
      position: absolute;
      left: 2px;
      top: 61px;
      z-index: 1000000;
    }
    #puzzle {
      height: 720px;
      width: 1080px;
      // background: url("https://i.imgur.com/N84KCQg.png");
      background-size: contain;
      border: 2px solid black;
      border-radius: 4px;
      margin: 0 auto;
      /* display: flex; */
      position: absolute;
      top: 60px;
      z-index: 1;
    }
    .underlay1 {
      background: url('https://i.imgur.com/N84KCQg.png');
    }
    .underlay2 {
      background: url('https://i.imgur.com/4zHZ7en.jpg');
    }
    .underlay3 {
      background: url('https://i.imgur.com/7QZDtId.jpg');
    }
    .underlay4 {
      background: url('https://imgur.com/a/VhVLr1P');
    }
    .underlay5 {
      background: url('https://i.imgur.com/U50NzaQ.jpg');
    }
    .underlay6 {
      background: url('https://image.ibb.co/b8wS6T/highlighted.png');
    }
    .underlay7 {
      background: url('https://i.imgur.com/QnxYVHy.png');
    }

    .overlay1-0deg {
      background: url('https://i.imgur.com/OX8AshY.png');
    }
    .overlay1-30deg {
      background: url('https://i.imgur.com/Vb2KfFU.png');
    }
    .overlay1-60deg {
      background: url('https://i.imgur.com/KAZF8qH.png');
    }
    .overlay1-n30deg {
      background: url('https://i.imgur.com/bhWzQkD.png');
    }
    .overlay1-n60deg {
      background: url('https://i.imgur.com/yAFhETF.png');
    }
    .overlay1-all {
      background: url('https://i.imgur.com/yAFhETF.png'), 
                  url('https://i.imgur.com/bhWzQkD.png'),
                  url('https://i.imgur.com/KAZF8qH.png'),
                  url('https://i.imgur.com/Vb2KfFU.png'),
                  url('https://i.imgur.com/OX8AshY.png');
    }
    .overlay2 {
      background: url('https://i.imgur.com/x7awlTU.png');
      background-size: contain;
    }
    .overlay3 {
      background: url('https://i.imgur.com/beTNDc4.png');
      background-size: contain;
    }
  }
}






/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
